<div class="deck">
  <h1>Card Shuffler!</h1>

  <%= button_to 'Shuffle the cards!', "/shuffled", class: "shufflebtn", method: :get %><br>
  <%= button_to 'Unshuffle the cards!', "/", class: "unshufflebtn", method: :get %>

  <% @cards.each do |card| %>
    <div class="card">
      <div class="value"><%= card.rank %></div>
      <div class="suit <%= card.suit %> "></div>
    </div>
  <% end %>
</div>
