<h1>Card Shuffler!</h1>

<%= button_to 'Reshuffle the cards!', "/shuffled", class: "shufflebtn", method: :get %>
<br>
<%= button_to 'Unshuffle the cards!', "/", class: "unshufflebtn", method: :get %>

<% @cards.each do |card| %>
  <p>The <%= card.rank %> of <%= card.suit %></p>
<% end %>
